<%= render partial: "tabs", locals: { active_tab: "my_postings" } %>
<% title "Edit Job Posting" %>
<% selected_nav "jobs" %>

<div class="block main-pad">
  <div class="g">
    <div class="u50" style="margin: 0 auto; float: none;">

      <%= render 'form' %>

    </div>
  </div>
</div>