<% title "Edit Job Posting" %>
<% selected_nav "job_posting" %>

<%= show_breadcrumbs(:parent_url => admin_job_postings_path, :parent_text => "Job Postings", :sub_parent_url => admin_job_posting_path(@job_posting), :sub_parent_text => @job_posting.title, :child_text => @title) %>

<div id="section_head" class="index"><div class="pad">
  <h1><%= @title %></h1>
</div></div>

<div id="content"><div class="pad">

  <%= render 'form' %>

</div></div>