<% title "Edit Job Posting Fee" %>
<% selected_nav "job_posting" %>

<%= show_breadcrumbs(:parent_url => admin_job_fees_path, :parent_text => "Job Posting Fees", :sub_parent_url => admin_job_fee_path(@job_fee), :sub_parent_text => @job_fee.number_of_months, :child_text => @title) %>

<div id="section_head" class="index"><div class="pad">
  <h1><%= @title %></h1>
</div></div>

<div id="content"><div class="pad">

  <%= render 'form' %>

</div></div>